@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins&display=swap');


/* font-family: 'Martel Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(/assets/images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 130vh;
    position: relative;
}

.main .box {
    height: 130vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 62px) ;
    color: white;
    position: relative;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    gap: 12px;
    padding: 23px;
    /* z-index */

}

.front> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}


.front> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}


.front> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.separator{
    height: 7px;
    background-color: rgb(44, 44, 44);
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(243,243,243,0.02);
    border: 1px solid white;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    font-weight: 400;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.main input{  
    padding: 7px 105px 8px 14px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);
    color: white;
}

.first{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 70vw;
    align-items: center;
    justify-content: center;
    color: white;
}

.sec-img{
    position: relative;
}

.sec-img img{
    position: relative;
    z-index: -1;
    width: 30vw;

}

.sec-img video{
    position: absolute;
    top:50px;
    right: 43px;
    width: 22vw;
}
.first > div{
    display: flex;
    flex-direction: column;
}


.first div > :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

.first div > :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}

.faqs{
    background: black;
    color: white;
    padding: 34px;
}
.faqs p{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}
.faq-box :hover{
    transition: all;
    background-color: rgb(41,41,41);
}


.faq-box{
    color: white;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    font-size: 23px;
    justify-content: space-between;
    cursor: pointer;
}

.faq-box svg{
    filter: invert(1);
    /* or change the stroke of svg */
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div a{
    text-decoration: none;
    color: white;
}